
/* General styles. */
.App {
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lato', sans-serif;
}

/* Siderbar styles. */
#sidebar a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px 20px 0px 20px;
}

#sidebar .sidebar-header h4 {
  color: #3f3f3f;
}

#sidebar .sidebar-header h4 span {
  color: orange;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 20px;
  font-size: 1.1em;
  color: #7b7b7b;
  display: block;
}

#sidebar ul li a:hover {
  color: #3f3f3f;
  background: #fff;
}

/* Header. */
.Header .jumbotron {
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
}

.Header .jumbotron h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}

.Header .jumbotron h1 span {
  color: orange;
}

.Header .npm-stats {
  margin-bottom: 5px;
}

.Header .npm-stats img {
  max-width: 90%;
}

.Header .badges {
  margin-bottom: 5px;
}

.Header .badges a {
  margin: 0 2px;
}

/* Sections. */
.section h1 {
  font-weight: bold;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.section p {
  font-weight: 500;
}

.section ul li {
  font-weight: 500;
}

.About h1 span {
  color: orange;
}

.section h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.last-section {
  margin-bottom: 40px;
}

/* Footer. */
.Footer h2 {
  font-family: 'Ubuntu Mono', monospace;
}

/* Styles relative to viewport size. */

/* xs */
@media (min-width: 0px) {
  .github-fork-ribbon-wrapper {
    display: none;
  }
  .Header .jumbotron h1 {
    font-size: 2em;
  }
  .Header .jumbotron .lead {
    font-size: 1em;
  }
  .section h1 {
    font-size: 28px;
  }
  .section h2 {
    font-size: 18px;
  }
  .section p {
    font-size: 16px;
  }
  .section li {
    font-size: 16px;
    margin: 10px 0;
  }
}

/* sm */
@media (min-width: 576px) {
  .github-fork-ribbon-wrapper {
    display: block;
  }
  .Header .jumbotron h1 {
    font-size: 4em;
  }
  .Header .jumbotron .lead {
    font-size: 1.5em;
  }
  .section h1 {
    font-size: 36px;
  }
  .section h2 {
    font-size: 24px;
  }
  .section p {
    font-size: 18px;
  }
  .section li {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* md */
@media (min-width: 768px) {
  .github-fork-ribbon-wrapper {
    display: block;
  }
  .Header .jumbotron h1 {
    font-size: 4em;
  }
  .Header .jumbotron .lead {
    font-size: 1.5em;
  }
  .section h1 {
    font-size: 36px;
  }
  .section h2 {
    font-size: 24px;
  }
  .section p {
    font-size: 18px;
  }
  .section li {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* lg */
@media (min-width: 992px) {
  .github-fork-ribbon-wrapper {
    display: block;
  }
  .Header .jumbotron h1 {
    font-size: 5em;
  }
  .Header .jumbotron .lead {
    font-size: 1.5em;
  }
  .section h1 {
    font-size: 36px;
  }
  .section h2 {
    font-size: 24px;
  }
  .section p {
    font-size: 18px;
  }
  .section li {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* xl */
@media (min-width: 1200px) {
  .App {
    margin-left: -100px;
  }
  .github-fork-ribbon-wrapper {
    display: block;
  }
  .Header .jumbotron h1 {
    font-size: 7em;
  }
  .Header .jumbotron .lead {
    font-size: 1.5em;
  }
  .section h1 {
    font-size: 36px;
  }
  .section h2 {
    font-size: 24px;
  }
  .section p {
    font-size: 18px;
  }
  .section li {
    font-size: 18px;
    margin: 10px 0;
  }
}
